
/*---ESERCIZIO 1*/

.ex-1-square{
    transition: background-color 2s;
}

.ex-1-square:hover {
    background-color: red;
}
/*---/ESERCIZIO 1*/

/*---ESERCIZIO 2*/

.ex-2-square {
    transition: 3s ease-out;
}

.ex-2-square:hover{
    width: 500px;
}

/*---/ESERCIZIO 2*/

/*---ESERCIZIO 3*/

.ex-3-square {
transition: ease-in 3s;
}

.ex-3-square:hover{
    border-radius: 50%;
}
/*---/ESERCIZIO 3*/


/*---ESERCIZIO 4*/

.ex-4-square {
    transition: opacity 3s;
}

.ex-4-square:hover {
    opacity: 0%;
}
/*---/ESERCIZIO 4*/

/*---ESERCIZIO 5*/

.ex-5-square {
    transition: 3s ease-in-out;
}

.ex-5-square:hover {

transform: scale(2);
}


.ex-5-square:active{
transform: scale(0.5);
}
/*---/ESERCIZIO 5*/

/*---ESERCIZIO 6*/

.ex-6-img {
    transition: 3s;
}

.ex-6-img:hover{
    filter: grayscale(1);
}

/*---/ESERCIZIO 6*/


/*---ESERCIZIO 7*/

.ex-7-img{
    transition: 3s;
}

.ex-7-img:hover{
    filter: saturate(2) hue-rotate(45deg);

}

/*---/ESERCIZIO 7*/


/*---ESERCIZIO 8*/

.ex-8-img {
    transition: 3s ease-in;
}
.ex-8-img:hover {
    filter: drop-shadow(2px 4px 6px black) blur(1px);
    border-radius: 30px;}
/*---/ESERCIZIO 8*/


/*---ESERCIZIO 9*/

.ex-9-img{
    transition: 3s;
}
.ex-9-img:hover {
    filter: drop-shadow(2px 4px 6px rgb(77, 35, 58)) contrast(2);
    border-radius: 30px;
    transform: scale(2);
}


/*---/ESERCIZIO 9*/

/*---ESERCIZIO 10*/
.ex-10-icon {
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(1turn);
    }
}
/*---/ESERCIZIO 10*/