
/*---ESERCIZIO 1*/

.ex-1-square{
    transition: background-color 2s;
}

.ex-1-square:hover {
    background-color: red;
}
/*---/ESERCIZIO 1*/

/*---ESERCIZIO 2*/

.ex-2-square {
    transition: 3s ease-out;
}

.ex-2-square:hover{
    width: 500px;
}

/*---/ESERCIZIO 2*/

/*---ESERCIZIO 3*/

.ex-3-square {
transition: ease-in 3s;
}

.ex-3-square:hover{
    border-radius: 50%;
}
/*---/ESERCIZIO 3*/


